:root {
  --first-text-primary: #212121;
  --main-background-color: #ffffff;
  --highlight-color: #2196f3;
  --complementary-color: #2f303a;
  --complementary-color-text: #757575;
  --complementary-color-text-nav: #ffffff99;
}

ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

* {
	margin: 0;
	padding: 0;
}

address {
	font-style: normal;
}

a {
	text-decoration: none;
	color: inherit;
}

::before,
::after {
	box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* All nav menu */

.all_nav {
  display: flex;
  align-items: center;
}


/* logo */

.nav_all_link_logo {
  /* display: flex; */
  margin-left: 15px;
}

.studiocolor-top {
  margin-top: 24px;
  margin-bottom: 25px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: Raleway;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.173;
  color: var(--first-text-primary);
  letter-spacing: 0.03em;
}
.webcolor {
  font-family: Raleway;
  text-decoration: none;
  color: var(--highlight-color);
}

.studiocolor-bottom {
  font-family: Raleway;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.173;
  color: var(--main-background-color);
  letter-spacing: 0.03em;
}

/* body */
.body-styles {
  font-family: "Roboto", sans-serif;
  color: var(--first-text-primary);
}

/* font title */
.font-size-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  color: var(--main-background-color);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

h1 span {
  display: block;
}

/* button index */

.font-size-button-index {
  margin: 0 auto;
  min-width: 200px;
  padding: 10px 32px;
  font-family: Roboto;
  font-size: 16px;
  background-color: var(--highlight-color);
  color: var(--main-background-color);
  line-height: 1.875;
  display: block;
  align-items: center;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
  letter-spacing: 0.06em;
}

/* button portfolio */
.font-size-button-portfolio {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
}

.font-size-button-portfolio:focus,
.font-size-button-portfolio:hover {
  color: #2196f3;
}

.nav_all_link {
  display: block;
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 93px;
}

.nav_all_link .item {
  /* outline: 1px solid red; */
  margin-right: 50px;
}

.nav_all_link .item:last-child {
  margin-right: 0;
}


.nav-link {
  text-decoration: none;
  color: var(--first-text-primary);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.02em;
}
.nav-link:focus,
.nav-link:hover {
  color: #2196f3;
}

.contact_nav {
  display: flex;
  margin-left: 331px;
  margin-right: 15px;
}

.contact_nav .item + .item {
 margin-left: 50px;
}

.nav-link-mail {
  text-decoration: none;
  color: var(--complementary-color-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.02em;
}

.nav-link-mail:focus,
.nav-link-mail:hover {
  color: #2196f3;
}

.nav-link-tel {
  text-decoration: none;
  color: var(--complementary-color-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.02em;
}

.nav-link-tel:focus,
.nav-link-tel:hover {
  color: #2196f3;
}

.pointer {
  cursor: pointer;
}


/* start main styles */
.complementary {
  background: var(--complementary-color);
  display: block;
}

.section_h2 {
  margin-left: 15px;
  margin-right: 15px;
}

.all_main_h2  {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.all_main_h2 .item_team:not(:last-child) {
  margin-right: 30px;
}

.text-title-h2-index {
  padding-bottom: 50px;
  font-size: 36px;
  line-height: 1.171;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Наша команда */

.all_main_h2_team {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
 }

.item_team {
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.all_main_h2_team .item_team:not(:last-child) {
  margin-right: 30px;
}

.text-team-index {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.171;
  letter-spacing: 0.03em;
}

.all_main_h3 {
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
  justify-content:center;
  }
  

.all_main_h3 .item:not(:last-child) {
  margin-right: 30px;
}


.all_main_h3 .item {
  display: flex;
  min-width: 270px;
}

.text-title-h3-index {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-text-primary);
}

.text-index {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--complementary-color-text);
}



.text-command-professions-index {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.171;
  color: var(--complementary-color-text);
  letter-spacing: 0.03em;
}

.text-title-portfolio {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.text-portfolio {
  font-size: 16px;
  line-height: 1.875;
  color: var(--complementary-color-text);
  letter-spacing: 0.03em;
}

.footer {
  background: var(--complementary-color);
}

.address-index {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--main-background-color);
}

.nav-text-footer {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.714;
  color: var(--complementary-color-text-nav);
  letter-spacing: 0.03em;p
}

.nav-text-footer:focus,
.nav-text-footer:hover {
  color: var(--highlight-color);
}



/* Test */
