:root {
  --first-text-primary: #212121;
  --main-background-color: #ffffff;
  --highlight-color: #2196f3;
  --complementary-color: #2f303a;
  --complementary-color-text: #757575;
  --complementary-color-text-nav: #ffffff99;
}

/* global parameters */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* logo */
.studiocolor-top {
  font-family: Raleway;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.173;
  color: var(--first-text-primary);
  letter-spacing: 0.03em;
}
.webcolor {
  font-family: Raleway;
  text-decoration: none;
  color: var(--highlight-color);
}

.studiocolor-bottom {
  font-family: Raleway;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.173;
  color: var(--main-background-color);
  letter-spacing: 0.03em;
}

/* body */
.body-styles {
  font-family: "Roboto", sans-serif;
  color: var(--first-text-primary);
}

/* font title */
.font-size-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  color: var(--main-background-color);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* button index */

.font-size-button-index {
  font-family: Roboto;
  font-size: 16px;
  color: var(--main-background-color);
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

/* button portfolio */
.font-size-button-portfolio {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
}

.font-size-button-portfolio:focus,
.font-size-button-portfolio:hover {
  color: #2196f3;
}

/* navigation - запасной */
/*.text-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}*/

.nav-link-mail {
  text-decoration: none;
  color: var(--complementary-color-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.02em;
}

.nav-link-mail:focus,
.nav-link-mail:hover {
  color: #2196f3;
}

.nav-link-tel {
  text-decoration: none;
  color: var(--complementary-color-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.02em;
}

.nav-link-tel:focus,
.nav-link-tel:hover {
  color: #2196f3;
}

.nav-link {
  text-decoration: none;
  color: var(--first-text-primary);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.02em;
}
.nav-link:focus,
.nav-link:hover {
  color: #2196f3;
}

.pointer {
  cursor: pointer;
}

/* start main styles */
.complementary {
  background: var(--complementary-color);
}

.text-title-h2-index {
  font-size: 36px;
  line-height: 1.171;
  text-align: center;
  letter-spacing: 0.03em;
}

.text-title-h3-index {
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-text-primary);
}

.text-index {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--complementary-color-text);
}

.text-team-index {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.171;
  letter-spacing: 0.03em;
}

.text-command-professions-index {
  font-size: 16px;
  line-height: 1.171;
  color: var(--complementary-color-text);
  letter-spacing: 0.03em;
}

.text-title-portfolio {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.text-portfolio {
  font-size: 16px;
  line-height: 1.875;
  color: var(--complementary-color-text);
  letter-spacing: 0.03em;
}

.footer {
  background: var(--complementary-color);
}

.address-index {
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--main-background-color);
}

.nav-text-footer {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.714;
  color: var(--complementary-color-text-nav);
  letter-spacing: 0.03em;p
}

.nav-text-footer:focus,
.nav-text-footer:hover {
  color: var(--highlight-color);
}
